<html>

	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<h1>New Project</h1>
		<form action="{{url_for('newProject', category_id = category_id)}}" method = 'post'>
			<p>Name:</p>
				<input type ='text' size='30' name='name'>
			<p>Abstract:</p>
				<input type ='text' size='250' name='abstract'>
			<p>Description:</p>
				<input type ='text' size='1000' name='description'>
			<p>Image URL:</p>
				<input type ='url' size='1000' name='image'>
			<p>License:</p>
				<input type ='text' size='30' name='license'>
			<p>Website:</p>
				<input type ='text' size='80' name='website'>
			<p>Image URL:</p>
				<input type ='url' size='1000' name='image' placeholder = '{{project.image}}'>

			</br>
			</br>
		<input type='submit' value='Create'>
			<a href = "{{url_for('showProject',  project_id = project_id, category_id = category_id)}}"> Cancel </a>
		</form>
	</body>

</html>
